@font-face {
    font-family: SundayBest;
    src: url(assets/font/SundayBest.ttf);
  }

html {
    scroll-behavior: smooth;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logoimg {
    height:55px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#00985F;
    background-color: #F5F1E8;
}


header {
    width: 99%;
    padding-left: 0;
    bottom: 0;
    background-color: #F5F1E8;
    font-size: 14px;
    color:#00985F;
}

.desktop-menu {
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    top:4%;
    right: 5%;
}

.desktop-menu li {
    text-decoration: none;
    list-style-type: none;
    display:inline;
    position: relative; /* Tilføj denne linje */
}

.desktop-menu li:hover::after {
    content: ""; /* Tilføj denne linje */
    display: block; /* Tilføj denne linje */
    height: 1px; /* Tilføj denne linje */
    background-color: #B3724A; /* Tilføj denne linje */
    position: absolute; /* Tilføj denne linje */
    bottom: 0px; /* Tilføj denne linje */
    left: 20px; /* Tilføj denne linje */
    right: 0; /* Tilføj denne linje */
}


.desktop-menu a {
    text-decoration: none;
    color: #B3724A;
    font-size: 18px;
    font-weight: bold;
    padding-left:20px;
}


#settings {
    position:absolute;
    top:4%;
    right:5%;
    text-decoration: none;
    font-size: 25px;
    color: #B3724A;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.left-menu a, 
.right-menu {
    text-decoration: none;
    color:#00985F;
    padding: 0 20px 0 0;
}

.left-menu a:hover,
.right-menu a:hover {
    text-decoration: underline;
}

/* Stil for dropdown menu */

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 5px;
    cursor: pointer;
    padding-top: 20px;
    font-size: 18px;
    color: #B3724A;
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #F5F1E8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 5%;
    width: 30%;
    height: 40%;
    right: 0;
    padding-left:10px;
    padding-top: 10px;
}



.banner {
    background-image: url(assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eee;
    width: 100%;
    height: 100%;
    display: flex; /* For centering .banneroverlay */
    justify-content: center;
    align-items: center;
}

.bannerlokationer {
    background-image: url(assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eee;
    width: 100%;
    height: 15vh;
    display: flex; /* For centering .banneroverlay */
    justify-content: center;
    align-items: center;
}


.banneroverlay {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F1E8;
    padding: 3vh 4vw;
    box-sizing: border-box;
    text-align: center;
    max-width: 600px;
    max-height: 500px;
}

.banneroverskrift {
    color: #00985F;
    font-size: 1.5rem; /* Adjusted font size */
}

.bannertekst {
    color: #00985F;
    padding: 1rem;
    font-size: 1rem; /* Adjusted font size */
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .banneroverlay {
        width: 95%; /* Increased width for smaller screens */
    }
    .banner {
        background-image: url(assets/images/mobilebanner.jpg);   
    }
}


main {
    padding: 40px;
    text-align: center;
}

.midtersektion {
    padding-bottom:10px;
}

.hvaderdet-figure {
    text-align: center;
    background-color: #FAF8F5;
    box-sizing: border-box;
    padding: 20px 10%;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* Reset default margin and padding for body and the main container */
body, .midterbillede-sektion {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure it takes the full width */
}

.medoverskrift {
    margin-top: 30px;
    margin-bottom:30px;
}
.billede-figure {
    display: flex;
    justify-content: space-between;
    width: 95%; /* Ensure it takes the full width of its container */
    margin-left: auto;
    margin-right: auto;
}

.billede-figure img {
    width: calc(100% / 3);
    height: auto;
    box-sizing: border-box;
}


  
.erdumed {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for the grid by default (mobile) */
    gap: 20px;
    margin: 0 auto;
    width: 95%;
    grid-template-areas:
        "erd1 erd2"
        "erd3 erd4"
        "erd5 erd5"; /* Default grid areas (mobile) */
}

.erdumed1 {
    grid-area: erd1;
}

.erdumed2 {
    grid-area: erd2;
}

.erdumed3 {
    grid-area: erd3;
}

.erdumed4 {
    grid-area: erd4;
}

.erdumed5 {
    grid-area: erd5;
}

/* Common styles for .erdumed1, .erdumed2, .erdumed3, .erdumed4, and .erdumed5 */
.erdumed1, .erdumed2, .erdumed3, .erdumed4, .erdumed5 {
    text-align: center;
    background-color: #FAF8F5;
    box-sizing: border-box;
    padding: 20px 10%;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ikonererdumed {
    width:60%;
}



.erdumed img {
    height: auto;
    max-width: 200px; /* Max width of the image */
    margin: 0 auto; /* Center the image if the container is bigger */
}


.erdumed-sektion .infobillede {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}



/* Find en stand nær dig Section Styles */
.findstand-figure {
    text-align: center;
    background-color: #FAF8F5;
    box-sizing: border-box;
    padding: 20px 10%;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}


/*FAQ sektion*/


#kort{
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    display: block;
    position: relative;
    background-image: url("assets/images/DKkort.png");
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
 }
 
 /* ===== nåle på kortet ===== */
 #kort li {
    display: block;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transform: translateX(-1rem) translateY(-2.2rem); 
    transition: transform 0.25s ease-out,
    background-color 0.25s ease-out;
    color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 4px;
    z-index: 1;
 }
 #kort li:after{ /* nåle spids */
    content:'';
    display: block;
    width: 0; height: 0;
    margin-top: 0.8rem;
    margin-left: -0.04rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.65rem solid rgb(211, 211, 211);
    transition: border-top 0.25s ease-out;  
    transition: transform 0.25s ease-out,
    background-color 0.25s ease-out;
 }
 
 #kort li:hover{
   color: coral;
   background-color: rgb(255, 255, 255) ;
   transform: translateX(-1rem)translateY(-2.5rem); 
 }
 #kort li:hover:after{
    border-top:0.65rem solid coral;
    
 }

 h3{
    font-size: 1rem;
    color: #000000;
    line-height: 1rem;
 }

 .adressetxt{
    font-size: 0.6rem;
    color: #000000;
 }

 .tidtxt{
    font-size: 0.6rem;
    color: #000000;
 }

#overlayx {
    position: absolute;
    background-color: #F5F1E8; 
    padding: 10px;
    z-index: 1;
    pointer-events: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*KORT sektion*/
#kort{
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    display: block;
    position: relative;
    background-image: url("assets/images/DKkort.png");
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
 }
 
 /* ===== nåle på kortet ===== */
 #kort li {
    display: block;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transform: translateX(-1rem) translateY(-2.2rem); 
    transition: transform 0.25s ease-out,
    background-color 0.25s ease-out;
    color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 4px;
    z-index: 1;
 }
 #kort li:after{ /* nåle spids */
    content:'';
    display: block;
    width: 0; height: 0;
    margin-top: 0.8rem;
    margin-left: -0.04rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.65rem solid rgb(211, 211, 211);
    transition: border-top 0.25s ease-out;  
    transition: transform 0.25s ease-out,
    background-color 0.25s ease-out;
 }
 
 #kort li:hover{
   color: coral;
   background-color: rgb(255, 255, 255) ;
   transform: translateX(-1rem)translateY(-2.5rem); 
 }
 #kort li:hover:after{
    border-top:0.65rem solid coral;
    
 }

 h3{
    font-size: 1rem;
    color: #000000;
    line-height: 1rem;
 }

 .adressetxt{
    font-size: 0.6rem;
    color: #000000;
 }

 .tidtxt{
    font-size: 0.6rem;
    color: #000000;
 }

#overlayx {
    position: absolute;
    background-color: #F5F1E8; 
    padding: 10px;
    z-index: 1;
    pointer-events: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


   
/* Her starter FAQ sektion */
.faq-container{
    text-align: center;
    background-color: #FAF8F5;
    box-sizing: border-box;
    padding: 20px 10%;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Overskrift */
.faq-heading{
    padding: 20px 60px;
    text-align: center;
    margin-top: 10px;
}

/* Spørgsmål */
.faq-page {
    cursor: pointer;
    /* Pil når musen holdes på elementerne */
    padding: 30px 20px;
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 5px; 
    /* Afstand mellem boxe */
}

/* Svar */
.faq-body {
   margin: auto;
   width: 80%; 
   font-size: 15px;  
   margin-bottom: 5px; 
   padding: 0 18px;
   background-color: #FFFFFF;
   display: none;
   /* Gøres usynlig så det ikke ses på + siden */
   overflow: hidden;
   /* Sikre at indholdet ikke vises udenfor elemtets grænser */
}

.faq-page:after {
    content: '\02795';
    /* For "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* For "minus" sign (-) */
}



/* KONTAKT Section Styles */
.kontakt-section {
    text-align: center;
    background-color: #FAF8F5;
    box-sizing: border-box;
    padding: 20px 10%;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


footer {
    padding: 40px;
    text-align: center;
    background-color:#B3724A;
    color:#FFFFFF;
}

.politikker {
    color:#FFFFFF;
}

.cta1 {
    background-color: #B3724A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight:bold;
    text-shadow: 1px 1px 3px #000000;
}

.cta3 {
    margin-top: 30px;
}

.cta-knap {
    background-color: #B3724A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight:bold;
    text-shadow: 1px 1px 3px #000000;
}

/* If .lokation-figure is a flex container, ensure it stacks children vertically */
.lokation-figure-top {
    display: flex;
    flex-direction: column;
    background-color: #FAF8F5;
    padding: 20px 10%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* If .lokation-figure is a flex container, ensure it stacks children vertically */
.lokation {
    display: flex;
    flex-direction: column;
    background-color: #FAF8F5;
    padding: 20px 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align:left;
}

.lokationbillede {
    width:100%;
}

.modelindhold {
    background-color: #FAF8F5;
    max-width: 90%; /* Responsive max width */
    width: auto; /* Adjust width to be auto, let max-width control the size */
    text-align: center;
    position: fixed; /* Fixed position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Above overlay background */
    border: #B3724A 3px solid;
}

.modelindhold select {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border-color: #B3724A;
    margin-left:auto;
    margin-right:auto;
}

.model-cta-knap {
    display: block;
    margin: 20px auto 0;
}

/* Styles for the input fields in the "Personlige oplysninger" modal */
.info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B3724A;
    width: 100%;
}

.proces {
    width: 75%;
    height: 25px;
}

.modeloverlay {
    display: none;
    position: fixed;
    z-index: 1000; /* Make sure this is less than the z-index of .modelindhold */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); /* Overlay background */
}

/* New styles for the expiration date inputs to sit side by side */
.expiration-fields {
    display: flex;
    gap: 10px; /* Adjust gap as needed */
}

/* Styles to make inputs take up full width inside the .expiration-fields container */
.expiration-fields input {
    flex: 1; /* Make inputs flex to fill the space */
}

.mobilepay {
    width: 50%;
}



.modeloverlay dialog.modelindhold {
    position: fixed;
    transform: translate(-50%, -50%);
}

.modeloverlay dialog.modelindhold {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1001;  /* Higher z-index than the modal-overlay */
    display: block;  /* Ensure it's displayed */
}



#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(white, white);
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #00985F;
    transition: background 0.3s, color 0.3s;
}


img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}


/* Media query for desktop screens */
@media (min-width: 1024px) {
    .erdumed {
        width:85%;
        grid-template-columns: repeat(4, 1fr); /* Four columns for the grid on desktop */
        grid-template-areas:
            "erd1 erd2 erd3 erd4"
            "erd5 erd5 erd5 erd5"; /* Grid areas for desktop */
    }
    .hvaderdet-figure {
        width:85%;
    }
    .billede-figure {
        width:85%;
    }
    .findstand-figure {
        width:85%;
    }
    .faq {
        width: 85%;
    }
    .kontakt-section {
        width: 85%;
    }
    .right-menu {
        display:none;
    }
}

@media (min-width: 768px) {
.right-menu {
    display:none;
    }
}

@media (max-width: 768px) {
    .erdumed5 {
        width: 100%;
    }
    .desktop-menu {
        display:none;
    }
}